[submodule ".registry"]
	path = .registry
	url = https://github.com/robertrenymwd/robertrenymwd.r-universe.dev
	branch = HEAD
[submodule "statewaterdata"]
	path = statewaterdata
	url = https://github.com/robertrenymwd/statewaterdata
